*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background: #e4961d;
  height: 60px;
  width: 100%;
  text-align: center;
}
.headline {
  font: italic;
  color: #ffffff;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.filterList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffc15e;
  width: 100%;
  height: 80px;
}

.filter {
  width: 25%;
  height: 25px;
  background: white;
  color: black;
}
.restaurantList {
  display: flex;
  flex-wrap: wrap;

  background-color: #ffffff;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding: 15px;
  justify-content: center;
}

.restaurant {
  background: #f7b05b;
  height: 200px;
  width: 350px;
  /* width: 300px; */
  margin: 5px;
  padding: 10px;
  display: flex;
}

.innerRestaurant {
  display: flex;
  flex-wrap: wrap;
  background: #e46c0a;
}

.pic {
  height: 150px;
  width: 150px;
  align-items: center;
  padding: 10px;
}
.phrase {
  padding: center;
  width: 250px;

  /* min-width: 70vw; */
  padding: 10px;
}
