/* *,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background: #e4961d;
  height: 60px;
  width: 100%;
  text-align: center;
}
.headline {
  font: italic;
  color: #ffffff;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.filterList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffc15e;
  width: 100%;
  height: 80px;
}

.filter {
  width: 25%;
  height: 25px;
  background: white;
  color: black;
}
.restaurantList {
  display: flex;
  flex-wrap: wrap;

  background-color: #ffffff;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding: 15px;
  justify-content: center;
}

.restaurant {
  background: #f7b05b;
  height: 200px;
  width: 350px;
  /* width: 300px; */
/* margin: 5px;
  padding: 10px;
  display: flex;
} */

/* .innerRestaurant {
  display: flex;
  flex-wrap: wrap;
  background: #e46c0a;
}

.pic {
  height: 150px;
  width: 150px;
  align-items: center;
  padding: 10px;
}
.phrase {
  padding: center;
  width: 250px;

  /* min-width: 70vw; */
/* padding: 10px;
}
.card__img */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 
#a7d2cb -clean
#f2d388 -butter
#c98474 -salmon
#874c62 -eggplant
#faf9ee -yellow
*/

body {
  font-size: 14px;
  background: #faf9ee;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  z-index: 10;
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  background: #e4961d;
  text-align: center;
  box-shadow: 0 5px 5px rgba(87, 59, 69, 0.6);
}

h1 {
  font-size: 1.6em;
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 25px;
}

.list__filter {
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffc15e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 5px 5px rgba(117, 117, 90, 0.6);
}

.filter {
  width: 20%;
  height: 25px;
  border: solid #874c62 3px;
  border-radius: 5px;
  text-align: center;
}

.filter:focus {
  outline: none;
}

.list__restaurant {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.card {
  width: 80%;
  margin-top: 20px;
  background: #f7b05b;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.5);
}

.card__img {
  height: 100px;
}

.card__category {
  margin-right: 4px;
  font-weight: bold;
}
